In [4]:
#1
t = (1, 2, 3, 4)
print(t)

#2
t = (10, "Hello", 3.5, True)
print(t)

#3
t = (1, 2, 3, 4, 5)
print(len(t))

#4
t = (10, 20, 30, 40)
print(t[0], t[2])

#5
t = (1, 2, 3, 4, 5, 6)
print(t[1:4])

#6
t = (10, 20, 30, 40)
print(20 in t)

#7
t = (1, 2, 2, 3, 2, 4)
print(t.count(2))

#8
t = (5, 10, 15, 20)
print(t.index(15))

#9
t1 = (1, 2, 3)
t2 = (4, 5, 6)
print(t1 + t2)

#10
t = (1, 2)
print(t * 3)

#11
lst = [1, 2, 3, 4]
t = tuple(lst)
print(t)

#12
t = ('P', 'y', 't', 'h', 'o', 'n')
s = ''.join(t)
print(s)

#13
t = (5, 10, 2, 8, 3)
print(max(t))
print(min(t))

#14
t = (5, 10, 15, 20)
print(sum(t))

#15
t = (4, 1, 3, 2)
print(tuple(sorted(t)))

#16
t = ("banana", "apple", "cherry")
print(tuple(sorted(t)))

#17
t = (1, 2, 3, 4)
print(t[::-1])

#18
t1 = (1, 2, 3)
t2 = (1, 2, 3)
print(t1 == t2)

#19
t = (1, 2, 2, 3, 3, 4)
t = tuple(set(t))
print(t)

#20
t = ("apple", "banana", "cherry")
print(max(t, key=len))

#21
t = ((1, 2), (3, 4), (5, 6))
print(t[1][0])

#22
t = ((1, 2), (3, 4), (5, 6))
flat = tuple(i for sub in t for i in sub)
print(flat)

#23
t1 = (1, 2, 3)
t2 = (4, 5, 6)
t1, t2 = t2, t1
print(t1, t2)

#24
t1 = (1, 2, 3, 4)
t2 = (3, 4, 5, 6)
print(tuple(set(t1) & set(t2)))

#25
t1 = (1, 2, 3, 4)
t2 = (3, 4, 5, 6)
print(tuple(set(t1) - set(t2)))

#26
t = ((1, 'a'), (2, 'b'), (3, 'c'))
print(dict(t))

#27
t = [(1, 2), (3, 4), (5, 6)]
a, b = zip(*t)
print(list(a))
print(list(b))

#28
t = (1, 2, 2, 3, 4, 4, 5)
print(tuple(set(i for i in t if t.count(i) > 1)))

#29
t = (5, 5, 5, 5)
print(all(i == t[0] for i in t))

#30
t1 = (1, 2, 3)
t2 = (4, 5, 6)
print(tuple(a + b for a, b in zip(t1, t2)))